span {
    font-weight: bold;
    color: #2c131b;
}

.maxPrice {
    color: red;
}

.minPrice {
    color: green;
}

.actualPrice {
    color: #f27013;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background-color: #2c131b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
}

.text-footer>a {
    color: white;
    text-decoration: none;
}

.fa-heart {
    color: red;
}

.fa-github {
    font-size: 1.2em;
}