<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      {{title}},{{subtitle}}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-select-store></app-select-store>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-select-product></app-select-product>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <app-chart></app-chart>
    </div>
    <div class="col-4">
      <app-infos></app-infos>
    </div>
  </div>
</div>